body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:crimson ;
}

.Banner {
     color: white;
}

.wsp {
    width: 100%;
}

.left {
    width: 80%;
}

.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 60%; 
    grid-template-rows: 50px 20px 40px 100px 40px;
    gap: 0px 0px;
    grid-template-areas: 
     "card_image cardtoptitle cardtoptitle"
     "card_image cardtopsubtitle cardtopsubtitle"
     "card_image cardheader cardcategory"
     "card_image cardsummary cardsummary"
     "card_image cardfooter cardtags"; 

}
.card_image {
    grid-area: card_image;
}

.cardtoptitle {
    font-size: 18px;
    grid-area: cardtoptitle;
}
.cardtopsubtitle {
    font-size: 12px;
    grid-area: cardtopsubtitle;
}

.cardsummary {
   grid-area: cardsummary;
}

.cardheader { grid-area: cardheader; }
.cardcategory { grid-area: cardcategory; }
.cardfooter { grid-area: cardfooter; }
.cardtags { grid-area: cardtags;}

.card_img {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
}


.btn {
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 12px;
}

.btn:hover {
  border-left: 8px solid black;
}
